.expo/
.env
.env.local
.env.*.local
node_modules/
/artifacts/
/modules/*/android/build/
!/android/
!/android/**
!/ios/
!/ios/**
/android/app/build/
/android/app/.cxx/
/android/.gradle/
/ios/build/
/ios/archive/
/ios/Pods/
dist/
dist-visual/
*.log
.DS_Store
